
DASHBOARD_API_PORT=3000

MONGO_APP=auto-hive-oc
MONGO_CLUSTER=
MONGO_DATABASE=auto-hive-oc
MONGO_USER=dashboard
MONGO_PASSWORD=dashboard

HIVE_OS_API_URL=https://api2.hiveos.farm/api/v2

MONITORING_API_URL=http://localhost:3001

TEST_TOKEN=
TEST_ACCOUNT_ID=
TEST_FARM_ID=
TEST_WORKER_ID=